<!--The content below is only a placeholder and can be replaced.-->

<div >

<form #testForm="ngForm" (ngSubmit)="registerUser(testForm)"> 
<div class="container-fluid"> 
<md-tab-group>



  <!-- first tab !-->

<div>
  <md-tab class="testT" label="hard_fact">
   



<div >
  <ng-container *ngFor="let navItem of questions ; let i = index">
  <div  *ngIf=" navItem.category == 'hard_fact' " > 
 
  <div class="well well-sm">{{navItem.question}}</div>

   <div>

   <div *ngIf=" navItem.question_type.type == 'single_choice' "> 
   <md-radio-group class="example-radio-group">
   <md-radio-button class="example-radio-button" *ngFor="let option of navItem.question_type.options " (change)="onChange(option , navItem.question_No , 'tab1' )"  [value]="option">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>

   </div>  


   <div *ngIf=" navItem.question_type.type == 'single_choice_conditional' ">
   <md-radio-group class="example-radio-group" >
    <md-radio-button class="example-radio-button" *ngFor="let option of navItem.question_type.options " [value]="option" (change)="handleChange(option)">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>

   <div *ngIf="this.navigator" style="border:1px solid black">
   <span style="color:black">Please select the desired age for your partner</span>  
   <input type="range" id="myRange" value="140">
   </div>  
   </div>  


   </div>

  </div>  
  </ng-container>  

</div>

 
  </md-tab>
</div>


<!-- second tab !-->

<div>
  <md-tab label="lifestyle">
<div >
  <ng-container *ngFor="let navItemTab1 of questions ; let i = index">
  <div  *ngIf=" navItemTab1.category == 'lifestyle' " > 
 
  <div class="well well-sm">{{navItemTab1.question}}</div>

<div>

<div *ngIf=" navItemTab1.question_type.type == 'single_choice' "> 
   <md-radio-group class="example-radio-group">
   <md-radio-button class="example-radio-button" *ngFor="let option of navItemTab1.question_type.options " (change)="onChange(option , navItemTab1.question_No , 'tab2')" [value]="option">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>

</div> 


</div>

  </div>  
  </ng-container>  

</div>
</md-tab>

</div>













<!-- thired tab !-->


<div>


 <md-tab label="introversion">
<div >
  <ng-container *ngFor="let navItemTab2 of questions ; let i = index">
  <div  *ngIf=" navItemTab2.category == 'introversion' " > 
 
  <div class="well well-sm">{{navItemTab2.question}}</div>

<div>


<div *ngIf=" navItemTab2.question_type.type == 'single_choice' ">

  <md-radio-group class="example-radio-group">
   <md-radio-button class="example-radio-button" *ngFor="let option of navItemTab2.question_type.options " (change)="onChange(option , navItemTab2.question_No , 'tab3' )" [value]="option">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>


</div>



 
</div>

  </div>  
  </ng-container>  

</div>
</md-tab>


</div>



<!-- Fouth tab !-->



<div>

 <md-tab label="passion">
<div >
  <ng-container *ngFor="let navItemTab3 of questions ; let i = index">
  <div  *ngIf=" navItemTab3.category == 'passion' " > 
 
  <div class="well well-sm">{{navItemTab3.question}}</div>

<div>


<div *ngIf=" navItemTab3.question_type.type == 'single_choice' ">  

   <md-radio-group class="example-radio-group">
   <md-radio-button class="example-radio-button" *ngFor="let option of navItemTab3.question_type.options " (change)="onChange(option , navItemTab3.question_No , 'tab4')" [value]="option">
    
   
    {{option}}
   
   </md-radio-button>
   </md-radio-group>


</div>  


</div>

  </div>  
  </ng-container>  

</div>
</md-tab>
</div>



</md-tab-group>


</div>
</form>
</div>

<br>
<div>
<h4 style="color:red" [innerHtml]="htmlToAddOnSubmit"></h4>
</div>
<div>
<div class="actionButtons">
<button (click)="goBack()" class="btn btn-primary">Back</button>
<button type="submit" (click)="goSubmit()" class="btn btn-primary">Submit</button>
</div>
</div>  

